# ===============================
# SERVER
# ===============================
PORT=3001

# ===============================
# DATABASE (MySQL)
# ===============================
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=garvis
DB_PORT=3306

# ===============================
# AUTH / JWT (si luego usas)
# ===============================
JWT_SECRET=*****

# ======================= CLOUDINARY =========================
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# == API_environment_variable
CLOUDINARY_URL=cloudinary://759232843894316:aw9lpswxYdAQ8SdPFqi9RXJSi3o@da9szo3an

# ===============================
# CORS
# ===============================
FRONTEND_URL=http://localhost:5173

# ===============================
# NOTES
# ===============================
# 1) Copia este archivo como ".env"
# 2) Ajusta los valores según tu entorno
# 3) Nunca subas el .env real a GitHub
