VITE_API_URL=http://localhost:3001



# ======================= CLOUDINARY =========================
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# == API_environment_variable
CLOUDINARY_URL=cloudinary://759232843894316:aw9lpswxYdAQ8SdPFqi9RXJSi3o@da9szo3
